@charset "utf-8";
/**
Omnes Regular

font-family: omnes-pro, sans-serif;
font-weight: 500;
font-style: normal;


Omnes Bold

font-family: omnes-pro, sans-serif;
font-weight: 800;
font-style: normal;


Omnes Light

font-family: omnes-pro, sans-serif;
font-weight: 400;
font-style: normal;


Omnes SemiBold

font-family: omnes-pro, sans-serif;
font-weight: 700;
font-style: normal;


Omnes SemiBold Italic

font-family: omnes-pro, sans-serif;
font-weight: 700;
font-style: italic;


Omnes Black

font-family: omnes-pro, sans-serif;
font-weight: 900;
font-style: normal;

**/
body{
	background-color: black;
	align-content:center;
	align-items: center;
	text-align: center;
	margin:0px;
	padding:0px;

}
#hero{
	height:50vh;
	width:auto;

	bottom:0;
}
#subtext{
	font-size:45px;
	margin-top:-2.5vw;
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align: center;
	align-content: center;
}
.header{
	color: #F7F7F7;
	font-family: omnes-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size:92px;
	text-align: center;
}

button{
	margin-top:2.5vw;
	width:110%;
	height:45px;
	color:white;
	background: #000000;
	border-radius:5px;
	font-family: omnes-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	transition: all ease 0.5s;
	border-style: solid;
}
button:hover{
	background-color:#F7F7F7;
	color:black;
}
#socials{
	display:flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	
}
 i{
	 width:10%;
	 height:auto;
  color: white;
   margin-right:50px;
}
@media (max-width: 650px){
	#hero{
		width:100vw;
		height: auto;
	}
	.header{
		font-size:15vw;
	}
	#subtext{
		font-size:10vw;	
	}
	i{
		width:1%;
	}
}
@media(max-width:411px){
	
}
	