.socials{
  display:flex;
  flex-direction:row;  
  margin-top:6rem;
}
 i{
  color: white;
   margin-right:1rem;
}
.socials a{
  margin-left:3rem;
  font-size:2.4rem;
  color:white;
  text-decoration:none;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition:transform 0.3s ease-out;
}
.socials a:hover{
  transform: translateY(8px);
}.socials{
  display:flex;
  flex-direction:row;  
  margin-top:6rem;
}
 i{
  color: white;
   margin-right:1rem;
}
.socials a{
  margin-left:3rem;
  font-size:2.4rem;
  color:white;
  text-decoration:none;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition:transform 0.3s ease-out;
}
.socials a:hover{
  transform: translateY(8px);
}.socials{
  display:flex;
  flex-direction:row;  
  margin-top:6rem;
}
 i{
  color: white;
   margin-right:1rem;
}
.socials a{
  margin-left:3rem;
  font-size:2.4rem;
  color:white;
  text-decoration:none;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition:transform 0.3s ease-out;
}
.socials a:hover{
  transform: translateY(8px);
}.socials{
  display:flex;
  flex-direction:row;  
  margin-top:6rem;
}
 i{
  color: white;
   margin-right:1rem;
}
.socials a{
  margin-left:3rem;
  font-size:2.4rem;
  color:white;
  text-decoration:none;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition:transform 0.3s ease-out;
}
.socials a:hover{
  transform: translateY(8px);
}.socials{
  display:flex;
  flex-direction:row;  
  margin-top:6rem;
}
 i{
  color: white;
   margin-right:1rem;
}
.socials a{
  margin-left:3rem;
  font-size:2.4rem;
  color:white;
  text-decoration:none;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition:transform 0.3s ease-out;
}
.socials a:hover{
  transform: translateY(8px);
}@charset "utf-8";
@import url("portfolio_preview.css");
/**
Omnes Regular

font-family: omnes-pro, sans-serif;
font-weight: 500;
font-style: normal;


Omnes Bold

font-family: omnes-pro, sans-serif;
font-weight: 800;
font-style: normal;


Omnes Light

font-family: omnes-pro, sans-serif;
font-weight: 400;
font-style: normal;


Omnes SemiBold

font-family: omnes-pro, sans-serif;
font-weight: 700;
font-style: normal;


Omnes SemiBold Italic

font-family: omnes-pro, sans-serif;
font-weight: 700;
font-style: italic;


Omnes Black

font-family: omnes-pro, sans-serif;
font-weight: 900;
font-style: normal;

**/
body{
	background-color: black;
	align-content:center;
	align-items: center;
	text-align: center;
	margin:0px;
	padding:0px;

}
#hero{
	height:50vh;
	width:auto;

	bottom:0;
}
#subtext{
	font-size:2.5vw;
	margin-top:-2.5vw;
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align: center;
	align-content: center;
}
.header{
	color: #F7F7F7;
	font-family: omnes-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size:5vw;
	text-align: center;
}
button{
	margin-top:2.5vw;
	width:200px;
	height:50px;
	color:white;
	background: #000000;
	border-radius:5px;
	font-family: omnes-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	transition: all ease 0.5s;
	border-style: solid;
}
button:hover{
	background-color:#F7F7F7;
	color:black;
}